<header id="{{smart.ID}}">
    <h1>HTMLSmartComponents</h1>

    <style>
        #{{smart.ID}} {
            display: flex;
            padding-left: 40px;
            background-color: darkorchid;
            color: white;
        }

        #{{smart.ID}} > h1:hover{
            color: aquamarine;
        }
    </style>
</header>